@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

body{margin: 0px; padding: 0px;}
h1, h2, h3, h4, h5, h6, p{font-family: 'Oswald' !important;  display: block; margin: 0px; padding: 0px;}
ul, li{list-style: none; margin: 0px; padding: 0px;}
a, a:hover {text-decoration: none; color: none;}
header, nav, aside, figure, section{margin: 0px; padding: 0px;}

p, li, a, span{font-family: 'Oswald' !important; font-weight: 300; font-size: 18px;}

h2 { font-size: 28px; font-weight: 700; border-bottom: 3px solid #0B68A5; display: block; width: 205px; color: #4B4B4B; padding-bottom: 5px; margin-bottom: 15px; }
h3 {font-size: 20px; font-weight: 700; color: #4B4B4B;}
h3 a{font-size: 20px; font-weight: 700; color: #4B4B4B;}
h3 a:hover{color: #0B68A5;}

::selection { background: #000; color: #fff; } 
::-moz-selection { background: #000; color: #fff; }

div#traco{width: 100%; height: 15px; background:#0B68A5; }

div#bodyBg{ width: 100%; height: 630px; background: url('../upload/images/bg.jpg'); background-position: 50% 100%; background-size: 100%; position: absolute; top: 0px; z-index: -1; }

header{margin: 0 auto; width: 100%; height: 695px; z-index: 1; position: relative; top: -16px;}

nav#mainMenu figure{width: 20%; float: left;}
nav#mainMenu figure img{width: 100%;}
header nav#mainMenu {width: 1150px; height: 140px; margin: 0 auto; position: relative;}
header nav#mainMenu ul { position: absolute; right: 0px; top: 50%; height: 30px; margin-top: -15px; }
header nav#mainMenu ul li{float: left; height: 30px; display: table;}
header nav#mainMenu ul li a{font-family: 'Oswald'; font-size: 16px; display: block; width: 100px; background: #063956; color: #fff; text-align: center; margin-right: 1px; display: table-cell; vertical-align: middle;}
header nav#mainMenu ul li a:hover{background: #0B68A5;}
header nav#mainMenu ul li a:active{background: #0B68A5;}

aside#slider{width: 100%; height: 350px; background: rgba(255,255,255,0.75); margin: 20px 0px;}
aside#slider div.container{width: 1150px; margin: 0 auto; position: relative; height: 100%; overflow: hidden;}
aside#slider nav#navSliderEsq{background: url('../upload/images/img_setaesq.png') no-repeat; width: 30px; height: 55px; position: absolute; top: 50%; margin-top: -25px; left: 0px; z-index: 1;}
aside#slider nav#navSliderDir{background: url('../upload/images/img_setadir.png') no-repeat; width: 30px; height: 55px; position: absolute; top: 50%; margin-top: -25px; right: 0px; z-index: 1;}

aside#slider nav#navSliderEsq:hover, aside#slider nav#navSliderDir:hover{cursor: pointer;}

aside#slider ul#sliderItens {position: relative; left: 0px; height: 100%; width: 4000px;}
aside#slider ul#sliderItens li.sliderItem{width: 1150px; float: left; padding: 0px 35px;}

/*atualizado 28/03*/
aside#slider ul#sliderItens li.sliderItem div.sliderItemTxt{width: 60%; height: 350px; float: left; padding-left: 50px; box-sizing:border-box;	-moz-box-sizing:border-box;}
aside#slider ul#sliderItens li.sliderItem div.sliderItemTxt span{ display: block; position: relative; top: 40%}
aside#slider ul#sliderItens li.sliderItem div.sliderItemTxt span.txt1{font-size: 28px;}
aside#slider ul#sliderItens li.sliderItem div.sliderItemTxt span.txt2{font-size: 22px;}

aside#slider ul#sliderItens li.sliderItem div.sliderItemImg{ width: 30%; float: right; padding-right: 110px; height: 350px;}
aside#slider ul#sliderItens li.sliderItem div.sliderItemImg img { width: 85%; position: relative; left: 55px; top: 26px; }
/*atualizado 28/03*/

aside#filo {width: 100%; background: #0B68A5; padding: 15px 0px; position: absolute; bottom: 0px;}
aside#filo p{width: 1150px; margin: 0 auto; color: #fff;}
aside#filo p.titulo { font-family: 'Oswald'; font-size: 24px; font-weight: 400; color: #fff; margin-bottom: 15px; }

aside#filo div#cerrilhaTop{width: 100%; height: 15px; background: url('../upload/images/img_cerrilhaTop.png'); position: absolute; top: -14px;}
aside#filo div#cerrilhaBottom{width: 100%; height: 15px; background: url('../upload/images/img_cerrilhaBottom.png'); position: absolute; bottom: -14px;}

div#content{width: 1150px; margin: 0 auto; margin-top: 30px; min-height: 330px;}

section#equipe{width: 47%; float: left;}
section#equipe figure{width: 45%; float: left; height: 100px; box-sizing: border-box; -moz-box-sizing: border-box;}
section#equipe figure img{width: 100%;}
section#equipe p{ float: right; width: 55%; box-sizing: border-box; -moz-box-sizing: border-box; padding: 0px 10px; text-align: justify;}

	/*galeria externo*/
	div#galeriaExterno{visibility: hidden; position: fixed; top: 0px; height: 100%; width: 100%; z-index: 1000;}
	div#containerGaleriaExterno{width: 50%; height: 85%; border-radius: 10px; z-index: 103; background: #fff;  position: absolute; left: 50%; top: 50%;}
	div#carregaGaleriaExterno{width: 100%; position: fixed; height: 100%; background: rgba(0, 0, 0, 0.85); z-index: 101;}
	div#fecharConteudo{ width: 45px; height: 45px; background: url('../upload/images/fechar.png'); background-repeat: no-repeat; background-size: 90%; position: absolute; right: 20px; top: -55px;}
	div#fecharConteudo:hover{cursor: pointer; background-size: 100%;}

	div.galeria{width: 100%; position: relative; z-index: 100;}
	div.galeria ul { height: 90px; margin-top: 10px; }

	div.galeria ul li { width: 120px; float: left; margin-right: 10px; margin-bottom: 10px; padding: 5px; border: 1px solid #929292; height: 90px; border-radius: 5px; opacity: 0.5; cursor: pointer; }

	div.galeria ul li img { width: 100%; max-height: 90px;}

	div.galeria ul li:hover { opacity: 1;
		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
	}

	/*div#navGaleriaEsq, div#navGaleriaDir{display: none;}falta criar o JS das setas, por isso esta escondido*/

	div#navGaleriaEsq{width: 50px; padding: 5px 5px 5px 0px; height: 50px; position: absolute; top: 50%; margin-top: -25px; z-index: 100; background: #009DF5 url('../upload/images/slider-item-05.png') no-repeat; background-size: 80%; background-position: 50% 50%; border-radius: 0px 10px 10px 0px;}
	div#navGaleriaDir{width: 50px; padding: 5px 5px 5px 0px; height: 50px; position: absolute; top: 50%; right: 0px; margin-top: -25px; z-index: 100; background: #009DF5 url('../upload/images/slider-item-06.png') no-repeat; background-size: 80%; background-position: 50% 50%; border-radius: 10px 0px 0px 10px;}

	div#navGaleriaEsq:hover, div#navGaleriaDir:hover{background-color: #0064B3; cursor: pointer;}

	ul#galeriaExterno li {width: 100%; height: 75%; position: absolute;}
	ul#galeriaExterno li img {max-width: 95%; max-height: 100%; position: absolute; left: 50%; top: 20px;}

	div#mask-galeria {position: absolute; bottom: 5%; height: 65px; width: 560px; overflow: hidden; left: 50%; z-index: 1000;}
	ul#miniaturas {position: relative; bottom: 0px; left: 0px;}
	ul#miniaturas li{width: 100px; height: 60px; float: left; background-size: 100% !important; background-repeat: no-repeat !important; border: 1px solid #333; opacity: 0.4; margin: 0px 5px; /*box-sizing:border-box; -moz-box-sizing:border-box;*/}
	ul#miniaturas li:hover{opacity: 1 !important; cursor: pointer; transition: opacity 0.5s;-moz-transition: opacity 0.5s;-webkit-transition: opacity 0.5s;}

	/*navMini tem que ter exatamente a mesma config de #mask-galeria, apenas com idth maior para jogar as setas para fora*/
	div#navMini {position: absolute; bottom: 5%; height: 65px; width: 630px; overflow: hidden; left: 50%; z-index: 1000;}
	div#navMiniEsq{ position: absolute; left: 0px; top: 50%; width: 30px; height: 30px; margin-top: -15px; background: url('../upload/images/slider-item-05.png') no-repeat; background-size: 80%; background-position: 50% 50%;}
	div#navMiniDir{ position: absolute; right: 0px; top: 50%; width: 30px; height: 30px; margin-top: -15px; background: url('../upload/images/slider-item-06.png') no-repeat; background-size: 80%; background-position: 50% 50%;}
	div#navMiniDir:hover, div#navMiniEsq:hover {background-color: #ddd; cursor: pointer;}

	div.descricaoGaleria { position: absolute; top: 0px; padding: 10px; background: rgba(0, 0, 0, 0.79); color: #fff; display: none; }

/*fecha galeria*/

section#estrutura{width: 47%; float: right;}
section#estrutura div#bgFoto { background: #D7D4CE; width: 337px; height: 300px; margin: 0 auto; position: relative; }

nav#sliderEstruturaEsq{ width: 100px; height: 86px; background: url('../upload/images/img_sliderEstruturaEsq.png'); position: absolute; top: 50%; margin-top: -43px; left: -95px;}
nav#sliderEstruturaDir{ width: 100px; height: 86px; background: url('../upload/images/img_sliderEstruturaDir.png'); position: absolute; top: 50%; margin-top: -43px; right: -95px;}

nav#sliderEstruturaEsq:hover{cursor: pointer; left: -100px; transition: left 0.5s; -webkit-transition: left 0.5s; -moz-transition: left 0.5s;}
nav#sliderEstruturaDir:hover{cursor: pointer; right: -100px; transition: right 0.5s; -webkit-transition: right 0.5s; -moz-transition: right 0.5s;}

section#estrutura div#bgFoto div.container { width: 317px; height: 230px; margin: 0 auto; padding-top: 10px; position: relative; overflow: hidden; }

section#estrutura div#bgFoto div.container ul{position: absolute; left: 0px; width: 2000px;}
section#estrutura div#bgFoto div.container ul li{float: left; width: 317px;}
section#estrutura div#bgFoto div.container ul li img{width: 100%;}

div#posts {width: 100%; height: 470px; background: #ECECEC;}
div#posts section {width: 1150px; margin: 0 auto;}
div#posts section  article.post {width: 250px; margin-right: 30px; border: 1px solid #DDD; float: left; box-sizing: border-box; -moz-box-sizing: border-box; padding: 10px; text-align: justify; position: relative;top: 20px;}
div#posts section  article.post figure { width: 100%; background: white; height: 160px; box-sizing: border-box; -moz-box-sizing: border-box; border: 10px solid #fff; margin: 10px 0px; overflow: hidden;}
div#posts section  article.post figure img{width: 100%; position: relative; top: 50%; margin-top: -130px;}

div.titulo{width: 1150px; margin: 0 auto; text-align: left; clear: both; padding-top: 30px;}

a.continueLendo { color: #FF8F00; text-decoration: underline; }
a.continueLendo:hover {color: #FF5C00;}

/*atualizado 28/03*/
div#validaform { display: none; width: 100%; height: 60px; background: rgba(151, 189, 0, 0.2); margin-bottom: 20px; border-radius: 10px; border: 1px solid #8DB100; font-family: sans-serif; font-size: 14px; line-height: 60px; text-align: center; color: #727272;}
div#validaform span.campo{font-family: sans-serif; font-weight: bold; font-size: 16px;}

div#pagecontato div#content{height: 570px;}
div#pagecontato form{float: left;}
div#pagecontato fieldset{border: 0px; width: 300px;}
div#pagecontato label{display: block;}
div#pagecontato input{outline: none;padding: 5px 10px;width: 300px; border: 1px solid #adadad}
div#pagecontato input[type="submit"]{width: 325px;}
div#pagecontato textarea{ outline: none; resize: none;width: 300px;padding: 11px;height: 140px;}
div#pagecontato button{float: right;}

div#pagecontato div#msgenviada{ width: 100%; margin: 0 auto; text-align: center; background: rgb(246, 255, 224); padding: 10px; border-radius: 5px; margin-bottom: 15px; border: 1px solid green; color: green; }

div#pagecontato div.telefone { float: right; width: 500px; height: 470px; }
/*atualizado 28/03*/

div#footer{background: #0B68A5; width: 100%; height: 400px; margin-top: 50px; position: relative; bottom: 0px; clear: both;}
footer{width: 1150px; margin: 0 auto; position: relative;}
footer nav { position: absolute; left: 50%; background: rgb(231, 231, 231); width: 320px; height: 40px; line-height: 40px; text-align: center; margin-left: -160px; top: -24px; font-size: 17px; font-weight: 400; text-transform: uppercase; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6); }
footer nav div.dobras{background: url('../upload/images/img_dobraContato.png'); width: 368px; height: 24px; position: absolute; top: 0px; left: -25px; z-index: -1;}
footer nav a{color: #000;}

footer #msg, footer #map { width: 500px; height: 300px; margin-top: 20px; }

footer #msg{float: left; background: url('../upload/images/img_aspasContato.png');}
footer #msg p { padding: 0px 75px; text-align: justify; color: #fff; font-size: 20px; }

footer #map{float: right; text-align: center; background: #fff;}
footer #map > iframe { margin-top: 10px; }

div#sign{background: #063956; position: absolute; bottom: 0px; width: 100%; color: #fff; font-family: sans-serif !important;}
div#sign div.endereco{width: 1150px; margin: 0 auto; text-align: center;}

div#sign div.creatibe{width: 1150px; height: 30px; padding-bottom: 10px; margin: 0 auto;}
div#sign div.creatibe div{width: 50%; float: left; height: 30px; font-family: sans-serif !important; font-size: 14px !important; color: #fff; line-height: 45px;}
span#year{font-family: sans-serif !important; font-size: 14px !important; color: #fff;}
div#sign div.creatibe div a{font-family: sans-serif !important; font-size: 14px !important; color: #fff;}
div#sign div.creatibe div a:hover{color: #FF8F00; text-decoration: underline;}
div#sign div.creatibe div:last-child{text-align: right;}
div#sign div.creatibe div img{height: 100%; position: relative; top: 25%; float: right;}

div.page #filo, div.page #slider {display: none;}
div.page header { background: rgba(0, 38, 60, 0.75); height: 140px;}
div.page header nav#mainMenu { height: 140px; }
div.page div#bodyBg { height: 155px; background-position: 0% 80%;}

div#cont-chat { width: 300px; position: fixed; right: 0px; top: 100%; z-index: 999; margin-top: -270px; }
.embed-chat{height: 270px;}

@media screen and (max-width: 1024px){
	div#containerGaleriaExterno { width: 70%; }
}